.card-largura {
    max-width: 18rem;
}
.imagem-carrossel-um {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.imagem-carrossel-dois {
    object-fit: cover;
    height: 400px;
}


.card-posicao-imagem {
    object-fit: cover;
  /*  object-position: 0 80%; */
    height: 200px;
}

